* {
    font-family: 'Pridi', serif;
    font-weight: 700;
    COLOR: #5d5d5d;
    LETTER-SPACING: 1PX
}

body, html {
    height: 100%;
}

body {
    background-color: #fff1e6;
    width: 100%;
    overflow: hidden
}

.category {
    /*padding: 20px;*/
    text-align: center
}

#title {
    font-size: 14px
}

#region {
    /*margin-top: -6%;*/
    font-size: 57px
}

#subRegion {
    /*margin-top: -60px;*/
    font-size: 25px
}

path {
    stroke-width: 1.5px;
    stroke: #fff1e6
}

/*.container {
    display: flex;
    justify-content: center;
    margin-left: 0px
}*/

.svg-whole {
    max-height: 425px
}

.svg-container {
    padding: 25px;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-right: 0%
}

.info-container {
    max-width: 375px;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 0%;
    /*width: 30%*/
}

.close-popup-modal {
    float: right;
    margin: 20px;
    font-size: 22px;
    /*opacity: 0;*/
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-transition-delay: .6s;
    transition-delay: .6s;
    position: fixed;
    z-index: 100000;
    right: 14px;
}


.Lesrigoles, .MartinParr, .comparativeness, .Friends {
    fill: #fbe584
}

    .Lesrigoles:hover, .MartinParr:hover, .comparativeness:hover, .Friends:hover {
        fill: #fdefb5;
        cursor: pointer
    }

.ThérapieTaxi, .CassandraCalin, .Elmer, .locality, .eventuality, .calculation, .order, .color, .weight, .size, .individuality {
    fill: #f19593
}

    .ThérapieTaxi:hover, .CassandraCalin:hover, .Elmer:hover, .locality:hover, .eventuality:hover, .calculation:hover, .order:hover, .color:hover, .weight:hover, .size:hover, .individuality:hover {
        fill: #f7c1c0;
        cursor: pointer
    }

.firmness, .GabrielPicolo, .HarryPotter, .conscientiousness, .SoniaDelaunay, .sublimity {
    fill: #b5b878
}

    .firmness:hover, .GabrielPicolo:hover, .HarryPotter:hover, .conscientiousness:hover, .SoniaDelaunay:hover, .sublimity:hover {
        fill: #c7ca99;
        cursor: pointer
    }

.Davidlachapelle, .freindship, .MathurinMéheut, .désavoeux, .parental-love, .inhabitiveness {
    fill: #9b7894
}

    .Davidlachapelle:hover, .freindship:hover, .MathurinMéheut:hover, .désavoeux:hover, .parental-love:hover, .inhabitiveness:hover {
        fill: #b195ab;
        cursor: pointer
    }

.Transfert, .combativeness, .Guggenheim, .Louvre, .destructiveness, .alimentiveness {
    fill: #a7b2a2
}

    .Transfert:hover, .combativeness:hover, .Guggenheim:hover, .Louvre:hover, .destructiveness:hover, .alimentiveness:hover {
        fill: #c1c9be;
        cursor: pointer
    }

.U-turn, .IsaureChassériau, .EternalSunshine, .spirituality, .imitation {
    fill: #e1a458
}

    .U-turn:hover, .IsaureChassériau:hover, .EternalSunshine:hover, .spirituality:hover, .imitation:hover {
        fill: #e9bc83;
        cursor: pointer
    }

.Bookworm, .mirthfulness, .ideality, .constructiveness {
    fill: #e48765
}

    .Bookworm:hover, .mirthfulness:hover, .ideality:hover, .constructiveness:hover {
        fill: #eca990;
        cursor: pointer
    }

@media only screen and (max-width: 600px) {
    .info-container {
        max-width: 375px;
        margin-top: 0px;
        margin-bottom: 25px;
        margin-left: 0%;
        width: 30%
    }

    #title {
        font-size: 14px;
        margin-bottom: 20px;
    }

    #region {
        margin-top: -26%;
        font-size: 22px
    }

    #subRegion {
        margin-top: -50px;
        font-size: 12px
    }

    .info-container {
        margin-top: 20px;
        margin-bottom: 25px;
        margin-left: 0%;
        width: 55%
    }

    @media (orientation: portrait) {
        .portrait {
            width: 100%;
        }

        div[class^='col'], div[class*='col'] {
            width: 100%;
        }
    }
}


@media (orientation: portrait) {
    .portrait {
        width: 100%;
    }

    div[class^='col'], div[class*='col'] {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .svg-whole {
        max-height: 100%;
    }
}

.animated, .modal-content {
    background-color: #ffe3cd!important;
 }
 
.modal-content > .container {
}